<app-header [name]="'Grid'"></app-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">6</ion-col>
      <ion-col size="6">6</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="12"
        size-lg="3"
        size-md="4"
        size-sm="6"
        *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]"
      >
        <ion-card>
          <ion-img src="/assets/img/stan-lee.jpg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
          repellendus nihil eveniet quia incidunt quaerat laudantium eaque rem
          quos, esse voluptas sit vitae totam assumenda. Eligendi nobis numquam
          ab nihil.
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
