<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let component of components$ | async"
      [routerLink]="component.redirecTo"
      detail="true"
    >
      <ion-icon [name]="component.icon" slot="start" color="primary"></ion-icon>
      {{component.name}}</ion-item
    >
  </ion-list>
</ion-content>
